
h3 {
    font-size: 11px;
}
.wd-topic-no-img {
    font-size: 13px;
    color: grey;
}

.wd-time {
    font-size: 13px;
    color: rgb(110, 118, 125);
    float: right;
    padding-left: 5px;
}

.wd-topic {
    font-size: 13px;
    color: grey;
    float: left;
}

.wd-author {
    font-size: 13px;
    color: white;
    float: left;
}

.wd-wrapper {
    display: flex;
}

.wd-nav-tabs li{
    text-align: justify;
    color: rgb(110, 118, 125);
    font-size: 12px;
    display: inline-block;
    list-style-type: none;
    width: 15%;
    padding: 10px;

}

.wd-nav-tabs .wd-selected{
    bottom: 10px;
    /*text-decoration: underline;*/
    /*text-decoration-thickness: 2px;*/
    /*text-decoration-color: rgb(29,161,242);*/
    /*border-bottom: solid 2px rgb(29,161,242) ;*/
    color: rgb(29,161,242);

    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    border-bottom-color: rgb(29,161,242) ;
    width: fit-content;

}

.wd-header-bar{
    display: flex;
    overflow: hidden;
}

.wd-search-bar {
    width: 1500%;
    height: 30px;
    background-color: darkgrey;
    color: white;
    text-align: justify;
    border-radius: 30px 30px 30px 30px;
    float: left;
}

.wd-settings-button {
    margin-right: 12px;
    padding-left: 10px;
    font-size: 30px;
    float: left;
    width: 100%;
    color: rgb(29,161,242);
    text-decoration: none;
}

.wd-tuit-with-img {
    display: flex;
    overflow: hidden;
}

.wd-tuit-text {
    float: left;
}

.wd-tuit-img {
    width: 100px;
    height: 100px;
    float: right;
    border-radius: 10px;
}

.wd-content {
    padding-top: 20px;
    font-size: 16px;
    color: white;

}


.wd-navigation {
    background-color: black;
}

.list-group li{
    background-color: black;
    color: white;

}

a {
    color: white;
    padding-left: 20px;
    text-decoration: none;
}

.wd-follow-button {
    border-radius: 50px;
    background-color: white;
    /*background-color: #0d6efd;*/
    height: 30px;
    color: black;
    font-size: 10px;
    margin-left: 20px;
}

.wd-tuit-button {
    margin-top: 20px;
    width: 100%;
    border-radius: 50px;
}

.wd-follow-img   {
    display: inline-block;
    position: relative; width: 55px;
    overflow: hidden; border-radius: 50%;

    /*width: 10%;*/
    /*border-radius: 30%;*/
}

.wd-follow-text {
    font-size: 10px;
}