body {
    font-family: "Arial";
    background-color: black;
    color: white;
    padding: 20px ;
    margin: 20px 20px 20px 20px;
    border-left: solid 1px rgb(47, 51, 54);
    border-right: solid 1px rgb(47, 51, 54);
}

h3 {
    font-size: 13px;
    color: rgb(110, 118, 125);
}

h1 {
    font-size: 13px;
    color: rgb(110, 118, 125);
    padding-right: 10px;
}

.wd-break {
    color: grey ;
}